<section class="gallery">
  <div class="gallery__cell gallery__cell--first">
    <picture>
      <source media="(min-width: 1024px)" [srcset]="gallery.first.desktop">
      <source media="(min-width: 768px)" [srcset]="gallery.first.tablet">
      <img [src]="gallery.first.mobile" alt="">
    </picture>
  </div>
  <div class="gallery__cell gallery__cell--second">
    <picture>
      <source media="(min-width: 1024px)" [srcset]="gallery.second.desktop">
      <source media="(min-width: 768px)" [srcset]="gallery.second.tablet">
      <img [src]="gallery.second.mobile" alt="">
    </picture>
  </div>
  <div class="gallery__cell gallery__cell--third">
    <picture>
      <source media="(min-width: 1024px)" [srcset]="gallery.third.desktop">
      <source media="(min-width: 768px)" [srcset]="gallery.third.tablet">
      <img [src]="gallery.third.mobile" alt="">
    </picture>
  </div>
</section>
