@import "variables.scss";

:host {
    margin-bottom: 6px;
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    
        svg {
            flex-shrink: 0;
        }
    }
}