@import 'variables.scss';

.audiophile-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    padding: 32px 24px 0;
    box-sizing: border-box;

    .about-content {
        flex: 1;
        margin-right: 7.813rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            @include h2-style($font-bold);
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            /* 110% */
            letter-spacing: 1.429px;
            text-transform: uppercase;

            span {
                color: $Orange;
            }
        }

        .description {
            @include body($font-regular, $Dark-Gray);
            font-weight: 500;
            width: 48ch;
        }
    }

    .about-image {
        flex: 1;

        picture {
            display: block;
            width: 100%;
            height: auto;
        }

        img {
            border-radius: 8px;
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @media (max-width: 1023px) {
        flex-direction: column;
        text-align: center;
        gap: 4rem;

        .about-content {
            margin-right: 0;
            order: 2;
            align-items: center;

            .title {
                width: 573px;
            }

            .description {
                width: auto;
                max-width: 573px;
                margin: 0 auto;
            }
        }

        .about-image {
            order: 1;
            width: 100%;
        }
    }

    @media (max-width: 600px) {
        .about-content {
            .title {
                font-size: 28px;
                width: 327px;
            }
        }
    }
}