<div class="footer">
    <div class="left-wrapper">
        <div class="brand">
            <svg width="143" height="25">
                <use xlink:href="../../assets/icons.svg#logo"></use>
            </svg>
        </div>
        <p class="description">Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound
            specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo
            facility - we’re open 7 days a week.</p>
        <p class="copyrights">Copyright 2021. All Rights Reserved</p>
    </div>
    <div class=right-wrapper>
        <div class="links">
            <nav>
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/category/headphones">Headphones</a></li>
                    <li><a routerLink="/category/speakers">Speakers</a></li>
                    <li><a routerLink="/category/earphones">Earphones</a></li>
                </ul>
            </nav>
        </div>
        <div class="socials">
            <a href="https://facebook.com" aria-label="Facebook">
                <svg width="24" height="24">
                    <use xlink:href="../../assets/icons.svg#facebook"></use>
                </svg>
            </a>
            
            <a href="https://twitter.com" aria-label="Twitter">
                <svg width="24" height="24">
                    <use xlink:href="../../assets/icons.svg#twitter"></use>
                </svg>
            </a>
            
            <a href="https://instagram.com" aria-label="Instagram">
                <svg width="24" height="24">
                    <use xlink:href="../../assets/icons.svg#instagram"></use>
                </svg>
            </a>
        </div>
    </div>
</div>