@import 'variables.scss';

:host{
    nav {
        ul {
            display: inline-flex;
            padding-right: 2px;
            gap: 34px;
            align-items: flex-start;
            justify-content: center;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: flex-end;
                    color: $White;
                    font-family: $font-bold;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 0.8125em;
                    line-height: 1.5625em;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    position: relative;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: $Orange;
                    }
                }
            }
        }

    }

    @media (max-width: 1023px) {
        display: block;
        width: 100%;

        nav {
            padding: 24px;
            box-sizing: border-box;

            ul {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;
                padding: 0;

                li a {
                    color: $Black;
                    font-size: 1rem;
                }
            }
        }
    }
}