@import 'variables.scss';

:host{
    nav {
        ul {
            display: inline-flex;
            padding-right: 2px;
            gap: 34px;
            align-items: flex-start;
            justify-content: center;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: flex-end;
                    color: $White;
                    font-family: $font-bold;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 0.8125em;
                    line-height: 1.5625em;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    position: relative;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: $Orange;
                    }
                }
            }
        }

    }

    .menu-cards {
        display: none;
    }

    @media (max-width: 1023px) {
        display: block;
        width: 100%;

        nav {
            padding: 56px 40px 35px;
            box-sizing: border-box;

            ul {
                display: none;
            }

            .menu-cards {
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }
        }
    }

    @media (max-width: 600px) {
        nav {
            padding: 88px 24px 35px;

            .menu-cards {
                flex-direction: column;
                gap: 68px;
            }
        }
    }
}

@media (max-width: 1023px) {
    ::ng-deep .menu-cards .category-card {
        height: 165px !important;
    }
    ::ng-deep .menu-cards .category-card h2 {
        margin-top: 88px !important;
        font-size: 15px !important;
    }
    ::ng-deep .menu-cards .category-card .category-img {
        height: auto !important;
        max-height: 130px !important;
        top: -50px !important;
    }
    ::ng-deep .menu-cards .category-card p {
        margin-top: 8px !important;
    }
}