:host {
    margin: 0 auto;
    width: 69.375rem;
    padding: 35px 0px 36px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #353535;
}