@import '_variables.scss';

:host {
    display: flex;
    flex-direction: column;
    gap: 200px;
    background-color: $White;
    header {
        display: flex;
        background-image: url('https://res.cloudinary.com/dcbbqlssh/image/upload/f_auto,q_auto/v1776452033/home/desktop/image-hero_d72q7d.jpg');
        background-color: #191919;
        background-position: 85% center;
        background-repeat: no-repeat;
        background-size: auto 90%;
        height: 45.5625em;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: column;
        gap: 10.5rem;
    }
    footer {
        display: flex;
        flex-direction: column;
        min-height: 22.813rem;
        background-color: $Very-Dark-Gray;
        justify-content: center;
    }

    @media (max-width: 1023px) {
        gap: 120px;

        header {
            background-position: right 13% top 45%;
            background-size: auto 100%;
        }

        main {
            gap: 6rem;
        }
    }

    @media (max-width: 767px) {

        header {
            background-position: right 27% top 45%;
            background-size: auto 100%;
        }

    }
}