@use "sass:map";

@font-face {
    font-family: 'Manrope-Bold';
    src: url('./assets/Manrope-Bold.ttf');
}

@font-face {
    font-family: 'manrope-medium';
    src: url('./assets/manrope-medium.otf');
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url('./assets/Manrope-Regular.ttf');
}

$font-bold: 'Manrope-Bold';
$font-medium: 'manrope-medium';
$font-regular: 'Manrope-Regular';

$Orange: rgba(216, 125, 74, 1);
$Very-Dark-Gray: rgba(16, 16, 16, 1);
$Gray: rgba(241, 241, 241, 1);
$Off-White: rgba(250, 250, 250, 1);
$Light-orange: rgba(251, 175, 133, 1);
$White: rgba(255, 255, 255, 1);
$Black: rgba(0, 0, 0, 1);

@mixin h1-style($font-bold) {
  font-family: $font-bold;
  font-size: 3.5em;
  line-height: 3.625rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin h2-style($font-bold) {
  font-family: $font-bold;
  font-size: 2.5em;
  line-height: 2.75rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@mixin h3-style($font-bold) {
  font-family: $font-bold;
  font-size: 2em;
  line-height: 2.25rem;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

@mixin h4-style($font-bold) {
  font-family: $font-bold;
  font-size: 1.75em;
  line-height: 2.375rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin h5-style($font-bold) {
  font-family: $font-bold;
  font-size: 1.5em;
  line-height: 2.0625rem;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

@mixin h6-style($font-bold) {
  font-family: $font-bold;
  font-size: 1.125em;
  line-height: 1.5rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

@mixin overline($font-regular, $Orange) {
  font-family: $font-regular;
  font-size: 0.875em;
  line-height: 1.1875rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: $Orange;
}

@mixin subtitle($font-bold, $Orange) {
  font-family: $font-bold;
  font-size: 0.8125em;
  line-height: 1.5625rem;
  letter-spacing: 1px;
  color: $Orange;
}

@mixin body($font-medium, $Black) {
  font-family: $font-medium;
  font-size: 0.9375em;
  line-height: 1.625rem;
  color: $Black;
}

@mixin button1($Orange,$White, $font-bold, $Light-orange) {
  font-family: $font-bold;
  font-size: 0.8125em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $White;
  background-color: $Orange;
  border: none;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $Light-orange;
  }
}

@mixin button2($White, $Black, $font-bold) {
  font-family: $font-bold;
  font-size: 0.8125em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $Black;
  background-color: $White;
  border: 1px solid $Black;
  width: 10em;
  height: 3em;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $White;
    background-color: $Black;
  }
}

@mixin hover-underline-effect {
    &::after {
      content: "";
      position: relative;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: $White;
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: right;
      top: -12px;
    }
  
    &:hover {
      &::after {
        transform: scale(1);
        transform-origin: left;
      }
    }
}

$breakpoints-map: (
  phone: 375px,
  tablet: 768px
);

@mixin respond-to($breakpoints...) {
  @each $breakpoint in $breakpoints {
    $size: map.get($breakpoints-map, $breakpoint);
    @if $size {
      @media (max-width: $size) {
        @content;
      }
    } @else {
      @warn "Breakpoint #{$breakpoint} not found in \$breakpoints-map.";
    }
  }
}